<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Activation</title>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"/>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">User Activation</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form id="activate-form">
        <div class="mb-3">
          <label for="userId" class="form-label">User ID</label>
          <input type="text" class="form-control" id="userId" name="userId" placeholder="Enter User ID"
                 required>
        </div>
        <button id="activation-submit" type="submit" class="btn btn-primary">Activate User</button>
      </form>
    </div>
  </div>
</div>
<script>
  $(function () {
    // Отправляем запрос на авторизацию при отправке формы
    $('#activate-form').submit(function (event) {
      event.preventDefault();

      let userId = $('#userId').val();
      alert(userId)

      $.ajax({
        url: '/users/activate/' + userId,
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        success: function () {
          alert("You account had been activated!")
        },
        error: function () {
          // Выводим ошибку
          alert("Произошла ошибка активации");
        }
      });
    });
  });
</script>
</body>
</html>